/* ProjectsList Container Styles */
.projects-list-container {
  position: absolute;
  width: 90%;
  max-width: 552px;
  left: 50%;
  transform: translateX(-50%);
  top: 136px;
}

@media (max-width: 768px) {
  .projects-list-container {
    top: 120px;
  }
}


.projects-list-border {
  box-sizing: border-box;
  border: 1px solid #2D080A;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 0 12px 12px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}
