/* SectionHeader Styles */
.section-header {
  position: absolute;
  width: 90%;
  max-width: 512px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 107px;

  font-family: 'Redaction 35';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;

  color: #034C3C;
  margin: 0;
}

@media (max-width: 768px) {
  .section-header {
    top: 80px;
    font-size: 14px;
  }
}
